<!DOCTYPE HTML>
<html>
<head>
<title>Zend Demo</title>
</head>
<body>
<header>
<center><h1>Zend Demo</h1></center>
<hr>
</header>
<?php echo $this->layout()->content; ?>
<footer>
<hr>
<center>All  Rights reserved &copy; 2012, This is footer</center>
</footer>
</body>
</html>